* {
    padding: 0;
    margin: 0;
    border: 0 none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block
}

mark, rp, rt, ruby, summary, time {
    display: inline
}

ul {
    list-style: none
}

a {
    text-decoration: underline;
    color: #59b7c2;
}

a:hover, a:active {
    text-decoration: none;
}

nav a {
    text-decoration: none
}

b, strong {
    font-family: Segoeui-Bold, Arial, Verdana, serif;
}

p, b, li, strong {
    font-size: 13px;
    /*line-height: 20px;*/
}

hr {
    background: #e0e0e0;
    height: 1px
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Myriad Pro, Verdana, serif;
    font-weight: normal;
    color: #444;
    line-height: 1;
    padding-bottom: 23px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
}

/*********
 * Forms *
 *********/
.niceChecked {
    background-position: left bottom;
}

.niceCheck input {
    margin-left: -20px !important;
}

.radioChecked {
    background-position: left bottom;
}

.niceRadio input {
    margin-left: -20px;
}

/*** button ***/
button,
input[type="submit"] {
    height: 35px;
    display: block;
    background: #59b7c2;
    color: #fefefe;
    text-align: center;
    font: normal 11px Segoeui, Myriad Pro, Verdana, serif;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #2ab4c4;
    box-shadow: 0px 0px 2px #2ab4c4;
    -moz-box-shadow: 0px 0px 2px #2ab4c4;
    -webkit-box-shadow: 0px 0px 2px #2ab4c4;
}

button.click,
input[type="submit"].click,
input[type="submit"]:focus {
    background: #2baab9;
    box-shadow: inset 0px 0px 10px #1d8d9b;
    -moz-box-shadow: inset 0px 0px 10px #1d8d9b;
    -webkit-box-shadow: inset 0px 0px 10px #1d8d9b;
}

/*** Input **/
input[type="email"],
input[type="text"] {
    height: 33px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #777;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}


blockquote {
    border-left: 1px solid #e0e0e0;
    padding: 0 0 0 25px;
    color: #444;
    font: italic 16px/25px Bitter-Italic, Myriad Pro, Verdana, serif;
}

.alignright {
    margin: 0 0 25px 25px;
    float: right;
}

.aligncenter {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.alignleft img,
.alignright img {
    padding: 8px 8px 4px;
}

.img_description {
    font: italic 12px/17px Bitter-Italic, Myriad Pro, Verdana, serif;
    color: #777;
    width: 206px;
    padding: 5px 10px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

/*** Table ***/
table {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #e0e0e0;
    font: normal 12px Segoeui, Arial, Verdana, serif;
}

td {
    height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
    border-collapse: collapse;
}

th {
    height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid #a8dade;
    font: normal 13px Bitter, Myriad Pro, Verdana, serif;
}

td.bg, th.bg {
    background: #f7f7f7;
}

/*************
 * Structure *
 *************/
body {
    margin: 0 auto;
    color: #444;
    background: #fff;
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    background: url(../images/bg_header.png) repeat-x center top;
}

.surely {
    color: #c3293a;
    margin: 0 3px;
    vertical-align: top;
}

/*******
 * Top *
 *******/
#top {
    height: 45px;
}

.welcome {
    margin: 9px 0 0 0;
    color: #777;
    font: normal 12px/36px Bitter, Myriad Pro, Verdana, serif;
}

.welcome a {
    text-decoration: none
}

.welcome a:hover {
    text-decoration: underline
}

.valuta, .lang {
    float: right;
}

.valuta ul, .lang ul {
    list-style: none;
}

.valuta ul li, .lang ul li {
    float: left;
}

.valuta ul li a,
.lang ul li a {
    margin: 9px 0 0 1px;
    width: 27px;
    height: 36px;
    background: #e6e9ed;
    color: #444;
    display: block;
    text-align: center;
    float: left;
    line-height: 36px;
    text-decoration: none;
}

.valuta ul li.curent a,
.lang ul li.curent a {
    margin: 0px 0 0 1px;
    padding: 9px 0 0 0;
    background: #59b7c2 !important;
    color: #fff;
    text-decoration: none;
    font: bold 11px/36px Segoeui-Bold, Arial, Verdana, serif;
    float: left;
}

.lang {
    margin: 0 23px 0 0
}

.lang ul li a {
    width: 36px;
    font: normal 11px/36px Segoeui, Arial, Verdana, serif;
}

.lang ul li a:hover,
.valuta ul li a:hover {
    background: #d5e4f1;
    text-decoration: none;
}

.valuta ul li.curent a {
    font: bold 13px/36px Bitter-Bold, Arial, Verdana, serif;
}

.valuta ul li a {
    font: normal 13px/36px Bitter, Arial, Verdana, serif;
}

/**********
 * Header *
 **********/
header#branding {
    width: 100%;
    height: 125px;
    margin: 35px 0 0 0;
}

#site_logo {
    margin: 0 0 0 -10px;
    padding: 0;
}

#site_description {
    font: italic 11px/16px Bitter-Italic, Myriad Pro, Verdana, serif;
    color: #aaa;
}

form.search {
    margin: 16px 0 0 0;
}

form.search input.entry_form:focus {
    outline: none;
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}

li:hover .cart_li + ul.cart_cont {
    display: block;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.cart_cont .prev_cart img {
    max-width: 42px;
    max-height: 42px;
}

.cart_cont .cont_cart {
    float: left;
    width: 190px;
    height: 56px;
    padding: 0 0 0 10px;
    font: normal 12px/17px Bitter, Arial, Verdana, serif;
}

.cart_cont .cont_cart h4 {
    color: #777;
    font: normal 12px/17px Segoeui, Arial, Verdana, serif;
    padding: 0;
}

.cart_cont .cont_cart .price {
    color: #444;
    margin: 10px 0 0 0;
    font: normal 12px/17px Bitter, Arial, Verdana, serif;
}

.cart_cont a.checkout {
    background: #444;
    margin: 0 0 0 10px;
}

.cart_cont a.view_cart:hover {
    box-shadow: 0px 0px 2px #59B7C2;
    -moz-box-shadow: 0px 0px 2px #59B7C2;
    -webkit-box-shadow: 0px 0px 2px #59B7C2;
}

.cart_cont a.checkout:hover {
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
}

nav.private {
    float: right;
    margin: 16px 0 0 0;
    font: normal 12px Segoeui, Arial, Verdana, serif;
}

nav.private ul {
    list-style: none;
}

nav.private ul li {
    float: left;
    height: 35px;
}

nav.private ul li.separator {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 35px;
    margin: 0 2px;
    float: left;
}

nav.private ul li a {
    position: relative;
    float: left;
    height: 35px;
    padding: 0 10px;
    margin: 0;
    line-height: 35px;
    color: #777;
}

/***************
 * Nav primary *
 ***************/
#block_nav_primary {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e0e0e0;
    margin: 0 0 20px 0;
}

#block_nav_primary .grid_12 {
    background: #f5f7f9;
}

.primary ul li {
    float: left;
    position: relative;
}

.primary ul li a {
    float: left;
    height: 48px;
    padding: 0 16px;
    color: #444;
    text-transform: uppercase;
    font: normal 14px/50px Bitter, Myriad Pro, Verdana, serif;
    border: 1px solid #f5f7f9;
    background: #f5f7f9;
}

.primary ul li a:hover,
.primary ul li:hover a {
    border: 1px solid #c3d7e9;
    background: #d5e4f1;
    text-decoration: none;
}

.primary ul li.curent a {
    color: #fff;
    background: #78c4cd;
    border: 1px solid #6fb7bf;
}

.primary ul ul.sub {
    display: none;
}

.primary ul li:hover > ul.sub {
    display: block;
}

.primary ul ul.sub li a {
    border: 0 none;
    width: 210px;
    height: 39px;
    color: #777;
    text-transform: capitalize;
    font: normal 13px/39px Bitter, Myriad Pro, Verdana, serif;
    background: #fff;
}

.primary ul ul.sub li + li a {
    border-top: 1px solid #e0e0e0;
}

.primary ul ul.sub li a:hover {
    background: #f5f7f9;
}

/**********
 * Slider *
 **********/
#slider {
    height: 480px;
    margin: 0 0 0px 0;
}

.slid_text {
    position: absolute;
    top: 70px;
    left: 495px;
    color: #131313;
}

.slid_text .slid_title {
    padding: 5px 0;
    margin: 0 0 18px 0;
}

.slid_text .slid_title span {
    padding: 5px 10px;
    font-size: 36px;
    background: #fff;
    opacity: 0.7;
    color: #222;
}

.slid_text p {
    padding: 5px 0;
    margin: 0 0 2px 0;
}

.slid_text p span {
    padding: 5px 10px;
    font-size: 16px;
    background: #fff;
    opacity: 0.7;
    color: #222;
}

.slidprev,
.slidnext {
    position: absolute;
    background: #fff;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 10;
    margin: 218px 0 0 0;
    text-align: center;
    font: bold 15px/42px Arial, Verdana, serif;
    opacity: 0.85;
    color: #444;
}

.slidprev span,
.slidnext span {
    display: block;
    margin: 13px 0 0 16px;
    width: 10px;
    height: 15px;
    background: url(../images/bg_arows.png) no-repeat left top;
    text-indent: -9999px;
}

.slidnext span {
    background: url(../images/bg_arows.png) no-repeat right top;
}

.slidprev:hover span {
    background: url(../images/bg_arows.png) no-repeat left bottom;
}

.slidnext:hover span {
    background: url(../images/bg_arows.png) no-repeat right bottom;
}

.slidprev:hover,
.slidnext:hover {
    background: #444;
    color: #fff;
}

.slidnext {
    margin: 218px 0 0 942px;
}

#myController {
    margin: -40px 0 0 0;
    position: absolute;
    right: 20px;
}

/***************
 * Breadcrumbs *
 ***************/
.breadcrumbs {
    clear: both;
    height: 20px;
    font: normal 18px/18px Segoeui, Arial, Verdana, serif;
}

.breadcrumbs a {
    font: normal 11px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: none;
    display: block;
    float: left;
}

.breadcrumbs span {
    display: block;
    float: left;
    margin: 0 5px;
    color: #777;
}

.breadcrumbs a:hover {
    color: #444;
    text-decoration: underline;
}

.breadcrumbs .current {
    font: normal 11px/20px Segoeui, Arial, Verdana, serif;
    color: #999;
    margin: 0;
}

/********
 * Main *
 ********/
#main {
    margin: 50px 0 60px 0;
}

#main.home {
    margin: 24px 0 0 0;
}

#main.entire_width {
    margin: 80px 0 70px 0;
}

/***********
 * Sidebar *
 ***********/
aside {
    margin: 0 0 45px 0
}

aside h3 {
    margin: 6px 0 15px;
    padding: 0 0 17px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
}

aside h4 {
    margin: 10px 0 13px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
    font: bold 13px/13px Segoeui, Arial, Verdana, serif;
}

/*** left_menu ***/
.left_menu ul li {
    height: 39px;
    border-top: 1px solid #fff;
}

.left_menu ul li + li {
    height: 39px;
    border-top: 1px solid #eee;
}

.left_menu ul li a {
    display: block;
    color: #444;
    height: 40px;
    border: 0 none;
    font: normal 13px/40px Segoeui, Arial, Verdana, serif;
}

.left_menu ul li:hover {
    height: 39px;
    background: #f5f7f9;
    border-top: 1px solid #fff;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;
}

.left_menu ul li + li:hover a {
    height: 39px;
    background: #f5f7f9;
    border: 0 none;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;
}

.left_menu ul li:hover + li {
    border-top: 1px solid #fff;
}

.left_menu ul li.current {
    margin: 0 -6px;
    padding: 0 6px;
    height: 38px;
    background: #7ac5ce;
    border: 1px solid #71b9c1;
}

.left_menu ul li.current a {
    display: block;
    color: #fff;
    height: 38px;
    text-decoration: none;
    font: bold 13px/40px Segoeui, Arial, Verdana, serif;
}

.left_menu ul li a span {
    color: #777;
}

.left_menu ul li.current a span {
    color: #fff;
    font-weight: normal
}

/*** what_new ***/
#what_new div {
    text-align: center;
    padding: 0 10px;
}

#what_new img {
    display: block;
    margin: 0 auto 15px;
}

#what_new a {
    text-decoration: none;
    color: #444;
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
}

#what_new .prise {
    padding: 2px 0 0 0;
    color: #2E8F9A;
    font: normal 12px/18px Bitter, Arial, Verdana, serif;
}

#what_new a:hover {
    text-decoration: underline;
}

/*** shop_by ***/
.currently_shopping {
    padding: 15px 0;
}

.currently_shopping p {
    color: #444;
    font: normal 13px/13px Segoeui, Arial, Verdana, serif;
    margin: 0 0 26px 0;
}

.currently_shopping li {
    margin: 0px 0 8px 0;
    font: bold 12px/11px Segoeui, Arial, Verdana, serif;
    color: #59b7c2;
}

#shop_by form.check_opt {
    padding: 0 0 12px 0;
}

#shop_by form.check_opt p {
    color: #777;
    font: normal 12px Segoeui, Arial, Verdana, serif;
    margin: 0 0 6px 0;
    min-height: 14px;
}

#shop_by form.check_opt span.niceCheck {
    margin: 0px 5px 0px 0;
}

input.vote {
    margin: 16px 0 0 0;
    width: 104px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

#community_poll h4 {
    border: 0 none;
}

#community_poll li {
    height: 39px;
    color: #777;
    line-height: 39px;
}

#community_poll li + li {
    border-top: 1px solid #eee;
}

#community_poll li .niceRadio {
    vertical-align: middle;
    margin: 0 8px 0 0;
}

/*** tags ***/
#tags a {
    color: #777;
    font: normal 13px/26px Segoeui, Arial, Verdana, serif;
    text-decoration: none
}

#tags a:hover {
    color: #444;
}

#tags a.t1 {
    font-size: 18px
}

#tags a.t2 {
    font-size: 13px
}

#tags a.t3 {
    font-size: 20px
}

#tags a.t4 {
    font-size: 11px
}

#tags a.t5 {
    font-size: 12px
}

#tags a.t6 {
    font-size: 22px
}

#tags a.t7 {
    font-size: 12px
}

#tags a.t8 {
    font-size: 17px
}

#tags a.t9 {
    font-size: 13px
}

#tags a.t10 {
    font-size: 20px
}

#tags a.t11 {
    font-size: 12px
}

#tags a.t12 {
    font-size: 20px
}

#tags a.t13 {
    font-size: 15px
}

#tags a.t14 {
    font-size: 13px
}

#tags a.t15 {
    font-size: 16px
}

#tags a.t16 {
    font-size: 13px
}

#tags a.t17 {
    font-size: 27px
}

.show,
.sort {
    float: right;
    height: 35px;
    margin-top: 12px;
}

.show {
    padding: 0 12px;
    border-left: 1px solid #e0e0e0;
}

.show .selectBox {
    width: 66px;
    padding-left: 10px;
    margin: 0 5px;
}

.sort {
    padding: 0 8px 0 0;
}

.sort .selectBox {
    width: 106px;
    padding-left: 10px;
    margin: 0 5px;
}

.sort a.sort_up {
    color: #444 !important;
    font: bold 20px Segoeui-Bold, Arial, Verdana, serif;
    text-decoration: none !important;
}

.sort a:hover.sort_up {
    text-decoration: none;
}

.grid_product {
    margin: 42px -12px 10px;
    width: 756px;
}

.grid_product .product {
    margin-bottom: 32px;
}

.listing_product {
    margin: 42px -1px 10px;
    width: 734px;
}

.listing_product .product_li {
    margin-bottom: 32px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

.listing_product .product_li .grid_3 {
    margin-left: 0;
}

.listing_product .product_li .grid_2 {
    margin-right: 0;
}

.listing_product .product_li .prev {
    padding: 7px;
    border-right: 1px solid #e0e0e0;
}

.listing_product .product_li .prev a {
    height: 210px;
    width: 210px;
    padding: 0;
    border: 0 none;
    background: #f5f5f5;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display: block;
/ / height: auto;
/ / margin-top: expression((105 -parseInt(offsetHeight) / 2) < 0 ? "0": 105 -(parseInt(offsetHeight) / 2) + 'px');
}

.listing_product .product_li .prev img {
    max-height: 210px;
    max-width: 210px;
}

.listing_product .product_li .entry_content {
    padding: 20px 0 0 0;
    height: 204px;
    border-right: 1px solid #e0e0e0;
}

.listing_product .product_li .entry_content a {
    text-decoration: none;
}

.listing_product .product_li .entry_content h3.title {
    font: normal 13px/20px Bitter, Arial, Verdana, serif;
    padding: 0 0 15px 0;
}

.listing_product .product_li .entry_content .review {
    height: 14px;
    margin: 0 0 20px 0;
    color: #777;
    font: normal 11px/16px Segoeui, Arial, Verdana, serif;
}

.listing_product .product_li .entry_content p {
    color: #444;
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
    margin: 0 0 13px 0;
}

a.more {
    text-decoration: none;
}

a.more:hover {
    text-decoration: underline !important;
}

.pagination {
    height: 39px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    border-right: 1px solid #e0e0e0;
}

.pagination li a,
.pagination li span {
    display: block;
    height: 39px;
    padding: 0 15px;
    margin: 0 0 0 -3px;
    color: #777;
    font: normal 13px/39px Segoeui, Arial, Verdana, serif;
    text-decoration: none;
}

.pagination li.prev a,
.pagination li.next a {
    font: normal 20px/32px Segoeui, Arial, Verdana, serif;
    color: #444;
}

.pagination li.prev span,
.pagination li.next span {
    font: normal 20px/32px Segoeui, Arial, Verdana, serif;
}

.pagination li.next {
    border: 0 none;
}

.pagination li a:hover {
    background: #eff7ff;
    text-decoration: none;
}

.pagination li.curent a {
    background: #f5f7f9;
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

.pagination_info {
    margin: 15px 0 !important;
    color: #777;
    text-align: center;
    font: italic 11px/11px Segoeui-Italic, Arial, Verdana, serif;
}

/****************
 * Product page *
 ****************/
.product_page {
    margin: 41px -12px 0;
    width: 756px;
}

.product_page .img_slid .sale {
    margin: -3px 0 0 -3px;
}

.product_page .img_slid .preview {
    margin: 0 0 12px 0;
    width: 294px;
    height: 294px;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

.product_page .img_slid .prev_bg {
    margin: 0;
    width: 294px;
    height: 294px;
    background: #f3f3f3;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display: block;
/ / height: auto;
/ / margin-top: expression((147 -parseInt(offsetHeight) / 2) < 0 ? "0": 147 -(parseInt(offsetHeight) / 2) + 'px');
}

.product_page .img_slid .prev_bg .zoomPad > img {
    max-width: 294px;
    max-height: 294px;
}

.product_page .img_slid .caroufredsel_wrapper {
    width: 314px !important;
    height: 70px !important;
}

.product_page .img_slid .pagination {
    list-style: none !important;
    padding: 0 0 0 3px !important;
    height: 70px !important;
    margin: 0 !important;
    border: 0 none !important;
}

.product_page .img_slid .pagination li {
    float: left;
    margin: 0 12px 0 0;
    padding: 0 0 1px 0;
    border: 0 none;
    width: 68px;
    height: 68px;
}

.product_page .img_slid .pagination li a {
    border: 1px solid #e0e0e0;
    padding: 2px;
    float: left;
    width: 64px;
    height: 64px;
    text-align: center;
    background: #fff;
}

.product_page .img_slid .pagination li a.zoomThumbActive {
    border: 1px solid #ccc;
}

.product_page .img_slid .pagination li a:hover {
    background: none;
}

.product_page .img_slid .pagination li img {
    max-width: 64px;
    height: 64px;
    text-align: center;
}

.product_page .img_slid .next_prev {
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin: 12px 0 0 0;
}

.product_page .img_slid .next_prev .arows {
    float: left;
    width: 29px;
    height: 29px;
    margin: 12px 6px 0 0;
    line-height: 29px;
}

.product_page .img_slid .next_prev .arows span {
    margin: 7px 0 0 10px;
}

.product_page .img_slid .next_prev #img_next.arows span {
    background: url(../images/bg_arows.png) no-repeat right top;
}

.product_page .img_slid .next_prev #img_next.arows:hover span {
    background: url(../images/bg_arows.png) no-repeat right bottom;
}

.product_page .entry_content p {
    margin-bottom: 20px
}

.product_page .entry_content .review {
    height: 29px;
    margin: 0 0 15px 0;
    color: #777;
    font: normal 11px/29px Segoeui, Arial, Verdana, serif;
}

.product_page .entry_content .review a.plus {
    background-position: 100% 0;
}

.product_page .entry_content .review a.add_review:hover {
    background: #59B7C2;
    box-shadow: 0px 0px 2px #59B7C2;
    -moz-box-shadow: 0px 0px 2px #59B7C2;
    -webkit-box-shadow: 0px 0px 2px #59B7C2;
    color: #FEFEFE;
}

.product_page .entry_content .review span {
    margin: 0 0 0 6px;
    float: left;
}

.product_page .entry_content .ava_price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    height: 40px;
}

.product_page .entry_content .ava_price .availability_sku {
    float: left;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .ava_price .availability span {
    color: #277127;
    padding: 0 0 0 15px;
}

.product_page .entry_content .ava_price .sku span {
    color: #444;
}

.product_page .entry_content .ava_price .price {
    float: right;
    font: normal 18px/20px Bitter, Myriad Pro, Verdana, serif;
    color: #2e8f9a;
    text-align: right;
}

.product_page .entry_content .ava_price .price .price_old {
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: line-through;
}

.product_page .entry_content .block_cart {
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    margin: 25px 0 37px 0;
}

.product_page .entry_content .block_cart .obn_like {
    float: left;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .block_cart .obn_like .obn a:hover,
.product_page .entry_content .block_cart .obn_like .like a:hover {
    opacity: 0.8
}

.product_page .entry_content .block_cart .cart {
    width: 250px;
    float: right;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .block_cart .cart .number {
    float: right;
    width: 27px;
    margin: 0 -1px 0 0;
    border-right: 0 none;
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -khtml-border-radius: 2px 0 0 2px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.product_page .entry_content .block_cart .cart a.bay {
    float: right;
    display: block;
    width: 120px;
    height: 35px;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    font: bold 13px/35px Segoeui-Bold, Arial, Verdana, serif;
    background: #59b7c2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    position: relative;
    z-index: 2;
}

.product_page .entry_content .block_cart .cart a.bay:hover {
    background: #2AB4C4;
    box-shadow: 0px 0px 2px #2AB4C4;
    -moz-box-shadow: 0px 0px 2px #2ab4c4;
    -webkit-box-shadow: 0px 0px 2px #2AB4C4;
}

.product_page .entry_content .block_cart .cart span {
    float: right;
    color: #707070;
    line-height: 35px;
    margin: 0 5px 0 0;
}

.product_page .entry_content .soc img {
    float: right
}

/*** Tab ***/
#wrapper_tab {
    margin: 39px 0 50px 0;
    clear: both;
}

#wrapper_tab a.tab_link {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 20px;
    height: 33px;
    color: #777;
    font: normal 13px/34px Bitter, Myriad Pro, Verdana, serif;
    text-decoration: none;
    border: 1px solid #f1f3f5;
    background: #f1f3f5;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -khtml-border-radius: 2px 2px 0 0;
}

#wrapper_tab a.tab_link:hover {
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
}

#wrapper_tab.tab1 a.tab1,
#wrapper_tab.tab2 a.tab2,
#wrapper_tab.tab3 a.tab3 {
    cursor: default;
    color: #444;
    font: normal 13px/34px Bitter, Myriad Pro, Verdana, serif;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
    background: #fff;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -khtml-border-radius: 2px 2px 0 0;
    position: relative;
    z-index: 3;
}

#wrapper_tab div.tab_body {
    display: none;
}

#wrapper_tab.tab1 div.tab1,
#wrapper_tab.tab2 div.tab2,
#wrapper_tab.tab3 div.tab3 {
    display: block;
    position: relative;
    z-index: 2;
    border-top: 1px solid #e0e0e0;
    margin: -1px 0 0 0;
    padding: 20px 0 0 0;
}

/*** Comments ***/
.comments {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.comments li .autor {
    float: left;
    color: #444;
    font: normal 14px/21px Bitter, Myriad Pro, Verdana, serif;
}

.comments li time {
    color: #777;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
}

.evaluation {
    clear: both;
    padding: 15px 0;
}

.evaluation .quality,
.evaluation .price {
    padding: 0 15px 0 0;
    height: 14px;
    float: left;
    margin: 0 15px 0 0;
    border-right: 1px solid #e0e0e0;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

.evaluation .price {
    border-right: 0 none;
}

.evaluation .quality strong,
.evaluation .price strong {
    float: left;
    color: #777;
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px 0 0;
}

.evaluation .quality a,
.evaluation .price a {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin: 0px 2px 0 0;
}

.evaluation .quality a.plus,
.evaluation .price a.plus {
    background-position: 100% 0;
}

.evaluation .quality a.plus_minus,
.evaluation .price a.plus_minus {
    background-position: 50% 0;
}

.comments li + li {
    padding: 20px 0 0px 0;
    border-top: 1px solid #e0e0e0;
}

.add_comments .evaluation {
    height: 50px;
}

.add_comments .evaluation .quality,
.add_comments .evaluation .price {
    padding: 0 15px 0 0;
    height: 17px;
    float: left;
    margin: 0 15px 0 0;
    border-right: 1px solid #e0e0e0;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

.add_comments .evaluation .price {
    border: 0 none
}

.add_comments .evaluation .quality strong,
.add_comments .evaluation .price strong {
    margin: 0;
    line-height: 17px;
}

.evaluation .quality .eva_num,
.evaluation .price .eva_num {
    position: absolute;
    color: #999;
    font: normal 11px/11px Segoeui, Arial, Verdana, serif;
    margin: 21px 0 0 -11px;
}

.add_comments strong {
    color: #707070;
}

.add_comments input[type="text"],
.add_comments input[type="email"],
.add_comments textarea {
    margin: 10px 0 0 0;
}

.add_comments .nickname {
    float: left
}

.add_comments .your_review {
    float: right
}

.add_comments .nickname input,
.add_comments .your_review input {
    width: 314px;
}

.add_comments .text_review {
    margin: 30px 0 0 0;
}

.add_comments .text_review textarea {
    height: 113px;
    width: 710px;
    margin: 10px 0 5px 0;
}

.add_comments .text_review i {
    color: #777;
    font-size: 12px;
}

.add_comments input[type="submit"] {
    margin: 30px 0 0 0;
    width: 172px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

.arows {
    display: block;
    float: right;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    background: #f1f3f5;
    margin: 0px 0 0 8px;
    color: #444;
    font: bold 15px/41px Arial, Verdana, serif;
    opacity: 0.85;
}

a:hover.arows {
    background: #444;
    color: #fff;
    text-decoration: none
}

.arows span {
    display: block;
    margin: 13px 0 0 16px;
    width: 10px;
    height: 15px;
    text-indent: -9999px;
    background: url(../images/bg_arows.png) no-repeat left top;
}

.arows.next span {
    background: url(../images/bg_arows.png) no-repeat right top;
}

.arows:hover span {
    background: url(../images/bg_arows.png) no-repeat left bottom;
}

.arows.next:hover span {
    background: url(../images/bg_arows.png) no-repeat right bottom;
}

.list_product {
    padding: 2px 0 0 0
}

.list_product li {
    position: relative;
    height: 320px;
    float: left;
}

.product:hover {
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}

.product {
    width: 226px !important;
    height: 316px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
}

img.sale {
    position: absolute;
    margin: -4px 0 0 -4px;
    z-index: 999;
}

.product .prev {
    width: 210px;
    height: 210px;
    margin: 8px 0 10px 8px;
    text-align: center;
    background: #fafafa;
}

.product .prev a {
    width: 210px;
    height: 210px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display: block;
/ / height: auto;
/ / margin-top: expression((105 -parseInt(offsetHeight) / 2) < 0 ? "0": 105 -(parseInt(offsetHeight) / 2) + 'px');
}

.product .prev img {
    max-width: 210px;
    max-height: 210px;
}

.product h3.title {
    height: 43px;
    padding: 3px 8px 0;
    margin: 0px;
    font: normal 13px/18px Bitter, Myriad Pro, Verdana, serif;
    color: #777;
    border-bottom: 1px solid #e0e0e0;
}

/**************
 * form_style *
 **************/
.form_style {
    margin: 0 -12px;

}

.form_style input[type="text"],
.form_style select, .form_style .selectBox {
    width: 206px;
}

.form_style textarea {
    width: 476px
}

.form_style input[type="submit"] {
    width: 118px;
    float: left;
    margin: 0 22px 0 0;
}
