article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover, a:active {
    outline: 0
}

b, strong {
    font-weight: bold
}

small {
    font-size: 80%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

form {
    margin: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    margin: 0;
    font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    color: #8c8c8c;
    background-color: #fff
}

.container {
    margin-right: auto;
    margin-left: auto;
    *zoom: 1
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0
}

.container:after {
    clear: both
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    *zoom: 1
}

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0
}

.container-fluid:after {
    clear: both
}

a {
    color: #8c8c8c;
    text-decoration: none
}

a:hover, a:focus {
    color: #ff4a00;
    text-decoration: none
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.hide {
    display: none
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    *zoom: 1
}

.iconfont {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ff4a00;
    color: #ff4a00;
    padding: 0;
    width: 148px
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
    text-decoration: none;
    background-color: #ff4a00
}

.btn.active, .btn:active {
    outline: 0;
    background-color: #ff4a00;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15)
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #e5e9ec;
    background: #ccd0d9
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.btn-primary {
    background-color: #ff4646;
    border-color: #ff4a00;
    color: #fff
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active {
    color: #fff;
    border-color: #ee330a;
    background-color: #ee330a
}

.btn-yellow {
    background-color: #ffdb3d;
    border-color: #ffdb3d;
    color: #333
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow.active, .btn-yellow:active {
    color: #333;
    border-color: #ffc700;
    background-color: #ffc700
}

.btn-dake {
    background-color: #6d6d6d;
    border-color: #6d6d6d;
    color: #fff
}

.btn-dake:hover, .btn-dake:focus, .btn-dake.active, .btn-dake:active {
    color: #fff;
    border-color: #333;
    background-color: #333
}

.btn-dakeLight {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    color: #333
}

.btn-dakeLight:hover, .btn-dakeLight:focus, .btn-dakeLight.active, .btn-dakeLight:active {
    color: #333;
    border-color: #dfdfdf;
    background-color: #dfdfdf
}

.btn-lineDakeLight {
    background-color: #fafafa;
    border-color: #f3f3f3;
    color: #333
}

.btn-lineDakeLight:hover, .btn-lineDakeLight:focus, .btn-lineDakeLight.active, .btn-lineDakeLight:active {
    color: #333;
    border-color: #dfdfdf;
    background-color: #dfdfdf
}

.btn-lineDake {
    background-color: #fff;
    border-color: #333;
    color: #333
}

.btn-lineDake:hover, .btn-lineDake:focus, .btn-lineDake.active, .btn-lineDake:active {
    color: #fff;
    border-color: #333;
    background-color: #333
}

.btn-small {
    height: 28px;
    line-height: 28px;
    width: 118px;
    font-size: 12px
}

.btn-disabled {
    cursor: not-allowed;
    background-color: #fff;
    border-color: #f3f3f3;
    color: #f3f3f3
}

.btn-disabled:hover, .btn-disabled:focus, .btn-disabled.active, .btn-disabled:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #f3f3f3;
    border-color: #f3f3f3;
    background-color: #fff
}

.icon-tag {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 63px;
    height: 63px;
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("http://c1.mifile.cn/f/i/2014/cn/icon/iconTag.png");
    background-repeat: no-repeat
}

.icon-tag-promo-red {
    background-position: 0 0
}

.icon-tag-promo-yellow {
    background-position: -129px 0
}

.icon-tag-soldout {
    background-position: -63px 0
}

.icon-tag-recommend {
    background-position: -192px 0
}

.icon-star-large {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 37px;
    height: 36px;
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("http://c1.mifile.cn/f/i/2014/cn/icon/icon-star-large.png");
    background-repeat: no-repeat;
    cursor: pointer
}

.icon-star-large-blank {
    background-position: -89px 0
}

.icon-star-large-full {
    background-position: 0 0
}

.icon-stat {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 65px;
    height: 14px;
    overflow: hidden;
    background-image: url("http://c1.mifile.cn/f/i/2014/cn/icon/icon-stat.png");
    background-repeat: no-repeat
}

.icon-stat-5 {
    background-position: 0 1px
}

.icon-stat-4half {
    background-position: 0 -15px
}

.icon-stat-4 {
    background-position: 0 -32px
}

.icon-stat-3half {
    background-position: 0 -45px
}

.icon-stat-3 {
    background-position: 0 -67px
}

.icon-stat-2half {
    background-position: 0 -74px
}

.icon-stat-2 {
    background-position: 0 -100px
}

.icon-stat-1half {
    background-position: 0 -104px
}

.icon-stat-1 {
    background-position: 0 -132px
}

.icon-stat-half {
    background-position: 0 -133px
}

.icon-stat-0 {
    background-position: 0 -149px
}

.icon-common {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-repeat: no-repeat
}

.icon-slides {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 41px;
    height: 69px;
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("http://c1.mifile.cn/f/i/2014/cn/icon/icon-slides.png");
    background-repeat: no-repeat;
    _filter: alpha(opacity=40)
}

.icon-slides:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}

.icon-slides:focus {
    outline: 0
}

.icon-slides-prev {
    background-position: -84px center
}

.icon-slides-prev:hover {
    background-position: 0 center
}

.icon-slides-next {
    background-position: -125px center
}

.icon-slides-next:hover {
    background-position: -42px center
}

.xm-slider {
    position: relative
}

.xm-slider-pagination {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.xm-slider-pagination .xm-slider-pagination-item {
    display: inline;
    margin-left: 10px
}

.xm-slider-pagination .xm-slider-pagination-item a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 28px;
    height: 18px;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    background: #c3c3c3;
    background: rgba(0, 0, 0, 0.3)
}

.xm-slider-pagination .xm-slider-pagination-item a:hover, .xm-slider-pagination .xm-slider-pagination-item a.active {
    background: #6d6d6d;
    background: rgba(0, 0, 0, 0.6)
}

.xm-slider-navigation {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10
}

.xm-slider-previous {
    left: 0
}

.xm-slider-next {
    right: 0
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.modal-backdrop {
    position: fixed !important;
    _position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .2
}

.modal-backdrop {
    _top: 0 !important;
    filter: alpha(opacity=20)
}

.modal {
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 590px;
    margin-left: -295px;
    margin-top: -260px;
    _position: absolute;
    _top: 13%;
    _margin-top: 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    outline: none
}

.modal.fade {
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%
}

.modal.fade.in {
    top: 50%;
    _top: 13%
}

.modal .close {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #8c8c8c;
    position: absolute;
    top: 0;
    right: -60px;
    text-align: center;
    cursor: pointer
}

.modal .close .iconfont {
    color: #fff;
    font-size: 26px;
    font-weight: normal
}

.modal .close:hover {
    background-color: #6d6d6d
}

.modal-header {
    height: 58px;
    padding-top: 2px;
    margin: 0 30px;
    border-bottom: 1px solid #ddd;
    position: relative
}

.modal-header h3 {
    margin: 0;
    line-height: 58px;
    font-size: 18px;
    color: #333
}

.modal-header .close {
    right: -90px
}

.modal-body {
    position: relative;
    max-height: 400px;
    padding: 30px
}

.modal-form {
    margin-bottom: 0
}

.modal-footer {
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
    background-color: #fafafa;
    *zoom: 1
}

.modal-footer:before, .modal-footer:after {
    display: table;
    content: "";
    line-height: 0
}

.modal-footer:after {
    clear: both
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.row {
    *zoom: 1
}

.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0
}

.row:after {
    clear: both
}

.container {
    width: 1200px
}

.span20 {
    width: 1200px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span19 {
    width: 1178px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span18 {
    width: 1116px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span17 {
    width: 1054px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span16 {
    width: 992px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span15 {
    width: 930px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span14 {
    width: 868px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span13 {
    width: 806px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span12 {
    width: 744px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span11 {
    width: 682px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span10 {
    width: 620px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span9 {
    width: 558px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span8 {
    width: 496px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span7 {
    width: 434px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span6 {
    width: 372px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span5 {
    width: 310px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span4 {
    width: 248px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span3 {
    width: 186px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span2 {
    width: 124px;
    float: left;
    _display: inline;
    min-height: 1px
}

.span1 {
    width: 62px;
    float: left;
    _display: inline;
    min-height: 1px
}

.offset20 {
    margin-left: 1240px
}

.offset19 {
    margin-left: 1178px
}

.offset18 {
    margin-left: 1116px
}

.offset17 {
    margin-left: 1054px
}

.offset16 {
    margin-left: 992px
}

.offset15 {
    margin-left: 930px
}

.offset14 {
    margin-left: 868px
}

.offset13 {
    margin-left: 806px
}

.offset12 {
    margin-left: 744px
}

.offset11 {
    margin-left: 682px
}

.offset10 {
    margin-left: 620px
}

.offset9 {
    margin-left: 558px
}

.offset8 {
    margin-left: 496px
}

.offset7 {
    margin-left: 434px
}

.offset6 {
    margin-left: 372px
}

.offset5 {
    margin-left: 310px
}

.offset4 {
    margin-left: 248px
}

.offset3 {
    margin-left: 186px
}

.offset2 {
    margin-left: 124px
}

.offset1 {
    margin-left: 62px
}

.row .col {
    float: left;
    _display: inline;
    min-height: 1px
}

.row .col-16 {
    width: 992px
}

.row .col-4 {
    width: 246px
}

.row .col-15 {
    width: 930px
}

.row .col-5 {
    width: 308px
}

.xm-box {
    border: 1px solid #dfdfdf;
    background: #fff;
    _zoom: 1
}

.xm-box .box-hd {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #dfdfdf
}

.xm-box .box-hd .title {
    margin: 0 0 0 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #333
}

.xm-box .box-hd .title small {
    margin-left: 10px;
    font-size: 12px
}

.xm-box .box-hd .title .tips {
    color: #8c8c8c
}

.xm-box .box-hd .more {
    position: absolute;
    top: 0;
    right: 30px
}

.xm-box .box-hd .more .more-link {
    font-size: 14px;
    line-height: 50px;
    color: #333
}

.xm-box .box-hd .more .more-link:hover {
    color: #ff4a00
}

.xm-box .box-hd .more .more-link .iconfont {
    font-size: 14px
}

.xm-box .box-ft {
    border-top: 1px solid #dfdfdf
}

.xm-line-box .box-hd {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #dfdfdf
}

.xm-line-box .box-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #333
}

.xm-line-box .box-hd .title small {
    margin-left: 10px;
    font-size: 12px
}

.xm-line-box .box-hd .title .tips {
    color: #8c8c8c
}

.xm-line-box .box-hd .more {
    position: absolute;
    top: 20px;
    right: 0
}

.xm-line-box .box-hd .more .more-link {
    font-size: 14px;
    color: #333
}

.xm-line-box .box-hd .more .more-link:hover {
    color: #ff4a00
}

.xm-line-box .box-hd .more .more-link .iconfont {
    font-size: 14px
}

.xm-line-box .box-ft {
    border-top: 1px solid #dfdfdf
}

.xm-plain-box .box-hd {
    position: relative;
    height: 50px
}

.xm-plain-box .box-hd .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #333
}

.xm-plain-box .box-hd .title small {
    margin-left: 10px;
    font-size: 12px
}

.xm-plain-box .box-hd .title .tips {
    color: #8c8c8c
}

.xm-plain-box .box-hd .more {
    position: absolute;
    top: 0;
    right: 0
}

.xm-plain-box .box-hd .more .more-link {
    font-size: 14px;
    line-height: 50px;
    color: #333
}

.xm-plain-box .box-hd .more .more-link:hover {
    color: #ff4a00
}

.xm-plain-box .box-hd .more .more-link .iconfont {
    font-size: 14px
}

.xm-plain-box .box-bd {
    border: 1px solid #dfdfdf;
    background: #fff
}

.xm-plain-box .box-ft {
    border-top: 1px solid #dfdfdf
}

.sep, .ndash {
    font-family: sans-serif
}

.site-breadcrumb, .breadcrumbs {
    margin: 10px auto;
    font-size: 12px;
    color: #8c8c8c
}

.site-breadcrumb a, .breadcrumbs a {
    color: #8c8c8c
}

.site-breadcrumb a:hover, .breadcrumbs a:hover {
    color: #ff4a00
}

.site-breadcrumb .sep, .breadcrumbs .sep {
    margin: 0 10px
}

.xm-phone-menu {
    border-bottom: 1px solid #dfdfdf
}

.xm-phone-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.xm-phone-menu li {
    float: left;
    position: relative;
    width: 16%;
    height: 110px
}

.xm-phone-menu li a {
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 100px;
    margin-left: -50px;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf
}

.xm-phone-menu li a img {
    height: 66px;
    width: auto
}

.xm-phone-menu li a span {
    display: block;
    line-height: 2
}

.xm-phone-menu li.choosed a {
    border-bottom: 1px solid #333
}

.site-topbar {
    *position: relative;
    *z-index: 11;
    height: 36px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 12px;
    line-height: 36px;
    color: #8c8c8c;
    background: #fafafa
}

.site-topbar a {
    color: #8c8c8c
}

.site-topbar a:hover, .site-topbar a.current {
    color: #333
}

.site-topbar .sep {
    margin: 0 10px;
    color: #dfdfdf
}

.site-topbar .topbar-nav {
    float: left;
    _width: 630px
}

.site-topbar .topbar-info {
    position: relative;
    float: right;
    _width: 400px;
    padding-top: 10px;
    line-height: 1.5;
    text-align: right
}

.site-topbar .topbar-info b {
    margin-left: 3px;
    font-weight: 400;
    color: #000;
    cursor: pointer
}

.site-topbar .topbar-info .arrow {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 0;
    _font-size: 0;
    _line-height: 1;
    margin-left: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: #8c8c8c transparent transparent;
    _border-color: #8c8c8c #fafafa #fafafa;
    vertical-align: middle
}

.site-topbar .topbar-info .user-info-menu {
    display: none;
    position: absolute;
    right: 136px;
    top: 36px;
    z-index: 30;
    width: 136px;
    padding: 9px 0 10px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    background: #fff
}

.site-topbar .topbar-info .user-info-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.site-topbar .topbar-info .user-info-menu li a {
    display: block;
    padding: 6px 20px;
    color: #6d6d6d
}

.site-topbar .topbar-info .user-info-menu li a:hover {
    background: #f3f3f3
}

.site-topbar .topbar-info .user-info-menu .menu-arrow {
    position: absolute;
    left: 50%;
    top: -7px;
    width: 30px;
    height: 7px;
    margin-left: -15px;
    _font-size: 0;
    background: url(http://c1.mifile.cn/f/i/2014/cn/icon/user-menu-arrow.png) no-repeat 50% 0
}

.site-header {
    position: relative;
    *z-index: 10;
    padding-top: 25px
}

.site-header .site-logo {
    position: relative;
    float: left;
    height: 70px;
    margin-bottom: 15px
}

.site-header .site-logo .logo {
    position: relative;
    z-index: 5;
    display: block;
    width: 70px;
    height: 70px;
    background-image: url('http://c1.mifile.cn/f/i/2014/cn/icon/site-logo.png');
    background-image: -webkit-image-set(url('http://c1.mifile.cn/f/i/2014/cn/icon/site-logo.png') 1x, url('http://c1.mifile.cn/f/i/2014/cn/icon/site-logo_2x.png') 2x);
    background-repeat: no-repeat;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.site-header .site-logo .logo i {
    display: none;
    font-size: 48px;
    color: #fff
}

.site-header .site-logo .event-miday-2015 {
    position: absolute;
    left: 80px;
    top: 0;
    z-index: 2;
    width: 235px;
    margin: 0;
    padding-left: 10px;
    height: 70px;
    border-left: 1px solid #ff4900;
    -webkit-font-smoothing: antialiased
}

.site-header .site-logo .event-miday-2015 a {
    display: block;
    float: left;
    height: 68px;
    padding-top: 2px;
    font-family: 'Avenir', arial
}

.site-header .site-logo .event-miday-2015 a.event-miday-2015-remain {
    margin-left: 15px;
    line-height: 75px;
    color: #ff4900;
    font-size: 13px;
    vertical-align: middle
}

.site-header .site-logo .event-miday-2015 a.event-miday-2015-remain b {
    margin: 0 4px;
    font-size: 68px;
    font-weight: normal
}

.site-header .site-logo .event-miday-2015 .title {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: .5px;
    color: #333
}

.site-header .site-logo .event-miday-2015 .remain {
    display: block;
    font-size: 26px;
    color: #333
}

.site-header .site-logo .event-miday-2015 .remain-today {
    font-size: 18px
}

.site-header .header-info {
    *position: relative;
    *z-index: 2;
    float: right;
    _display: inline;
    *width: 560px;
    margin: 30px 0 15px
}

.site-header .header-info .search-section {
    float: left;
    _display: inline;
    margin-right: 10px
}

.site-header .header-info .cart-section {
    position: relative;
    float: right;
    width: 126px;
    height: 40px
}

.site-header .header-info .mini-cart {
    position: relative;
    z-index: 21;
    display: block;
    width: 104px;
    height: 20px;
    padding: 9px 10px;
    border: 1px solid #ffdb3d;
    line-height: 20px;
    text-align: center;
    color: #333;
    background: #ffdb3d
}

.site-header .header-info .mini-cart .iconfont {
    margin-right: 3px;
    font-size: 14px
}

.site-header .header-info .mini-cart-on {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 26px;
    border-color: #ff4a00;
    border-bottom: 0;
    color: #ff4a00;
    background: #fff
}

.site-header .header-info .mini-cart-list {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 20;
    width: 292px;
    padding: 20px;
    border: 1px solid #ff4a00;
    font-size: 12px;
    background: #fff
}

.site-header .header-info .mini-cart-list ul {
    margin: -5px 0 20px;
    padding: 0;
    list-style-type: none
}

.site-header .header-info .mini-cart-list li {
    border-bottom: 1px solid #dfdfdf;
    color: #333
}

.site-header .header-info .mini-cart-list li a {
    color: #333
}

.site-header .header-info .mini-cart-list li a:hover {
    color: #ff4a00
}

.site-header .header-info .mini-cart-list li .pic {
    float: left;
    width: 65px;
    padding: 3px 0
}

.site-header .header-info .mini-cart-list li .pic img {
    width: 60px;
    height: 60px
}

.site-header .header-info .mini-cart-list li .name {
    float: left;
    width: 110px;
    height: 36px;
    margin: 15px 0 0;
    overflow: hidden;
    _zoom: 1
}

.site-header .header-info .mini-cart-list li .price {
    float: left;
    width: 70px;
    height: 36px;
    padding: 15px 0;
    text-align: right
}

.site-header .header-info .mini-cart-list li .btn-del {
    float: right;
    margin: 15px 11px 0 0
}

.site-header .header-info .mini-cart-list .is-cos {
    position: relative
}

.site-header .header-info .mini-cart-list .is-cos .cos-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: .1;
    filter: alpha(opacity=10);
    z-index: 5
}

.site-header .header-info .mini-cart-list .is-cos .btn-del {
    color: #ee330a;
    position: relative;
    z-index: 20
}

.site-header .header-info .mini-cart-list .count .total {
    float: left;
    color: #c3c3c3
}

.site-header .header-info .mini-cart-list .count .total strong {
    display: block;
    color: #333
}

.site-header .header-info .mini-cart-list .count .total strong em {
    font-style: normal;
    color: #ff4a00
}

.site-header .header-info .mini-cart-list .count .btn {
    float: right
}

.site-header .header-info .mini-cart-list .loading {
    margin: 0;
    text-align: center
}

.site-header .header-info .search-form {
    position: relative;
    width: 422px;
    height: 38px;
    border: 1px solid #dfdfdf
}

.site-header .header-info .search-form:hover .search-btn {
    color: #fff;
    background: #ff4a00;
    border-color: #ff4a00
}

.site-header .header-info .search-form .search-text {
    width: 352px;
    *width: 353px;
    height: 20px;
    padding: 9px 15px;
    border: 0;
    *border-right: 1px solid #dfdfdf;
    line-height: 20px;
    color: #333;
    background: #fff
}

.site-header .header-info .search-form .search-text:focus {
    outline: 0
}

.site-header .header-info .search-form .search-btn {
    position: absolute;
    top: -1px;
    right: -1px;
    *top: 0;
    *right: 0;
    width: 40px;
    height: 40px;
    *width: 38px;
    *height: 38px;
    border: 1px solid #dfdfdf;
    *border: 0;
    color: #6d6d6d;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

.site-header .header-info .search-form .search-btn:hover, .site-header .header-info .search-form .search-btn:active {
    color: #fff;
    background: #ff4a00;
    border-color: #ff4a00
}

.site-header .header-info .search-form .hot-words {
    position: absolute;
    top: 9px;
    right: 48px;
    font-size: 12px
}

.site-header .header-info .search-form .hot-words a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 1px 3px;
    margin-left: 5px;
    color: #333;
    background: #f3f3f3
}

.site-header .header-info .search-form .hot-words a:hover {
    background: #dfdfdf
}

.site-header .header-info .search-form .keyword-list {
    display: none;
    position: absolute;
    left: -1px;
    top: 39px;
    _top: 41px;
    z-index: 20;
    width: 383px;
    padding: 10px 0;
    border: 1px solid #c3c3c3;
    border-top: 0;
    background: #fff
}

.site-header .header-info .search-form .keyword-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-header .header-info .search-form .keyword-list li:hover, .site-header .header-info .search-form .keyword-list li.current {
    background: #f3f3f3
}

.site-header .header-info .search-form .keyword-list li a {
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #333
}

.site-header .header-info .search-form .keyword-list li .keyword {
    color: #ff4a00
}

.site-header .header-info .search-form .ie6-fix {
    display: none;
    _display: block
}

.site-header .header-info .search-form .hide {
    display: none
}

.site-header .header-info .search-form-focus {
    border: 1px solid #c3c3c3
}

.site-header .header-info .search-form-focus .search-text {
    *border-right: 1px solid #c3c3c3
}

.site-header .header-info .search-form-focus .search-btn {
    border-color: #c3c3c3
}

.site-header .header-info .search-form-focus .hot-words {
    display: none
}

.site-header .header-info .search-form-focus .keyword-list {
    display: block
}

.site-header .header-info .search-form-focus .hide {
    display: none
}

.site-header .header-nav {
    position: relative;
    clear: both;
    height: 50px;
    background: #404144
}

.site-header .header-nav .nav-main {
    float: left
}

.site-header .header-nav .nav-main ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-header .header-nav .nav-category {
    position: relative;
    float: left;
    width: 248px;
    height: 50px;
    background: #ff4a00
}

.site-header .header-nav .btn-category-list {
    display: block;
    padding: 7px 50px 7px 20px;
    font-size: 18px;
    line-height: 2;
    color: #fff
}

.site-header .header-nav .btn-category-list:hover {
    color: #fff
}

.site-header .header-nav .btn-category-list .iconfont {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -18px;
    font-size: 18px
}

.site-header .header-nav .nav-category-section {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 11;
    width: 248px;
    border: solid #dfdfdf;
    border-width: 0 0 1px;
    background: #fff
}

.site-header .header-nav .nav-category-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-header .header-nav .nav-category-list a {
    color: #6d6d6d
}

.site-header .header-nav .nav-category-list .nav-category-item {
    position: relative;
    *float: left;
    *width: 100%;
    height: 73px;
    border-top: 1px solid #dfdfdf;
    color: #6d6d6d
}

.site-header .header-nav .nav-category-list .nav-category-item .nav-category-content {
    height: 43px;
    padding: 15px 10px 15px 20px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf
}

.site-header .header-nav .nav-category-list .nav-category-item .title {
    color: #ff4a00
}

.site-header .header-nav .nav-category-list .nav-category-item .links {
    width: 215px;
    height: 21px;
    margin-top: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1
}

.site-header .header-nav .nav-category-list .nav-category-item .links a {
    margin-right: 7px;
    *margin-right: 5px
}

.site-header .header-nav .nav-category-list .nav-category-item .links a:hover {
    color: #333
}

.site-header .header-nav .nav-category-list .nav-category-item-first {
    border-top: 0
}

.site-header .header-nav .nav-category-list .current {
    background-color: #fafafa
}

.site-header .header-nav .nav-category-list .current .nav-category-content {
    padding-left: 18px;
    border-left: 3px solid #ff4a00;
    border-right: 1px solid #dfdfdf
}

.site-header .header-nav .nav-category-list .current .nav-category-children {
    display: block
}

.site-header .header-nav .nav-category-children {
    display: none;
    position: absolute;
    top: -1px;
    left: 247px;
    z-index: 12;
    _zoom: 1;
    width: 247px;
    border: 1px solid #dfdfdf;
    background: #fff
}

.site-header .header-nav .nav-category-children hr {
    display: block;
    height: 1px;
    margin: 0 30px;
    padding: 0;
    border: 0;
    border-top: 1px solid #dfdfdf
}

.site-header .header-nav .nav-category-children .children-list {
    margin: 0;
    padding: 10px 0;
    list-style-type: none
}

.site-header .header-nav .nav-category-children .children-list li a {
    display: block;
    padding: 10px 30px;
    line-height: 40px
}

.site-header .header-nav .nav-category-children .children-list li a:hover {
    background: #f3f3f3
}

.site-header .header-nav .nav-category-children .children-list li img {
    width: 40px;
    height: 40px;
    margin-right: 20px
}

.site-header .header-nav .nav-category-children .children-list li .iconfont {
    margin-right: 20px;
    font-size: 40px;
    line-height: 1;
    vertical-align: middle
}

.site-header .header-nav .nav-category-children .children-special-section {
    padding: 20px 30px;
    font-size: 12px;
    background: #fafafa
}

.site-header .header-nav .nav-category-children .children-special-section h4 {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #000
}

.site-header .header-nav .nav-category-children .children-special-section ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: disc
}

.site-header .header-nav .nav-category-children .children-special-section a {
    color: #6d6d6d
}

.site-header .header-nav .nav-category-children .children-special-section a:hover {
    color: #333
}

.site-header .header-nav .nav-main-list {
    position: relative;
    color: #fff
}

.site-header .header-nav .nav-main-list .nav-main-item {
    float: left;
    font-size: 18px;
    line-height: 20px
}

.site-header .header-nav .nav-main-list .nav-main-item a {
    position: relative;
    display: block;
    padding: 15px 0;
    color: #fff
}

.site-header .header-nav .nav-main-list .nav-main-item a:hover {
    color: #fff;
    background: #333
}

.site-header .header-nav .nav-main-list .nav-main-item a:hover .arrow {
    _border-color: #333 #333 #fff
}

.site-header .header-nav .nav-main-list .nav-main-item a .text {
    display: block;
    padding: 0 23px
}

.site-header .header-nav .nav-main-list .nav-main-item a .arrow {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -3px;
    _bottom: 1px;
    z-index: 12;
    width: 0;
    height: 0;
    margin-left: -8px;
    _font-size: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff;
    _border-color: #404144 #404144 #fff
}

.site-header .header-nav .nav-main-list .current a .arrow {
    display: block
}

.site-header .header-nav .nav-main-list .current .nav-main-children {
    z-index: 12
}

.site-header .header-nav .nav-main-children {
    display: none;
    position: absolute;
    top: 50px;
    left: -1px;
    z-index: 11;
    width: 993px;
    line-height: 1.5;
    background: #fff
}

.site-header .header-nav .nav-main-children .children-list {
    margin: 0;
    padding: 0;
    border: 1px solid #dfdfdf;
    border-top: 0
}

.site-header .header-nav .nav-main-children .children-list li {
    float: left;
    display: block;
    width: 495px;
    height: 200px;
    border-left: 1px solid #dfdfdf
}

.site-header .header-nav .nav-main-children .children-list li.first {
    border-left: 0
}

.site-header .header-nav .nav-main-children .children-list .item-detail {
    position: relative;
    display: block;
    height: 120px;
    padding: 50px 50px 30px 265px;
    color: #6d6d6d
}

.site-header .header-nav .nav-main-children .children-list .item-detail:hover {
    color: #6d6d6d;
    background: #fff;
    box-shadow: inset 0 0 5px #dfdfdf
}

.site-header .header-nav .nav-main-children .children-list .item-detail .title, .site-header .header-nav .nav-main-children .children-list .item-detail .desc, .site-header .header-nav .nav-main-children .children-list .item-detail .price {
    display: block
}

.site-header .header-nav .nav-main-children .children-list .item-detail .title {
    font-size: 20px;
    color: #000
}

.site-header .header-nav .nav-main-children .children-list .item-detail .title a {
    display: inline;
    font-size: 20px;
    color: #000
}

.site-header .header-nav .nav-main-children .children-list .item-detail .title a:hover {
    background: none
}

.site-header .header-nav .nav-main-children .children-list .item-detail .desc {
    margin-bottom: 10px;
    font-size: 14px
}

.site-header .header-nav .nav-main-children .children-list .item-detail .price {
    font-size: 12px;
    color: #ff4a00
}

.site-header .header-nav .nav-main-children .children-list .item-detail .price b {
    margin-right: 3px;
    font-size: 18px;
    font-weight: 400
}

.site-header .header-nav .nav-main-children .children-list .item-detail .link a {
    position: relative;
    display: block;
    padding: 0;
    font-size: 12px;
    color: #333
}

.site-header .header-nav .nav-main-children .children-list .item-detail .link a:hover {
    color: #ff4a00;
    background: none
}

.site-header .header-nav .nav-main-children .children-list .item-detail .thumb {
    position: absolute;
    top: 32px;
    left: 100px
}

.site-header .header-nav .nav-main-children .children-list .item-detail .thumb a {
    display: inline
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more {
    width: 330px
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more.first {
    width: 329px
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more .item-detail {
    padding: 0;
    height: 200px;
    text-align: center
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more .item-detail .thumb {
    position: static;
    top: 0;
    left: 0
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more .item-detail .title {
    font-size: 16px
}

.site-header .header-nav .nav-main-children .children-list li.children-list-more .item-detail .desc {
    margin-bottom: 0;
    font-size: 12px
}

.site-header .open-buy-info {
    position: absolute;
    top: 20px;
    right: 0
}

.site-header .open-buy-info a {
    display: inline-block;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    background: url(http://c1.mifile.cn/f/i/2014/cn/icon/icon-open-buy.png) no-repeat;
    overflow: hidden;
    font-size: 12px
}

.site-header .open-buy-info a:hover {
    background-position: 0 -16px
}

.site-footer {
    margin-top: 50px;
    color: #333;
    background: #fafafa
}

.site-footer .footer-service {
    padding: 40px 0;
    border-bottom: 1px solid #dfdfdf
}

.site-footer .footer-links {
    padding: 40px 0;
    border-bottom: 1px solid #dfdfdf;
    color: #6d6d6d
}

.site-footer .footer-info {
    position: relative;
    padding: 35px 0 65px;
    font-size: 12px;
    text-align: center
}

.site-footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.site-footer .list-service li {
    float: left;
    width: 20%;
    text-align: center
}

.site-footer .list-service li a {
    display: block;
    font-size: 12px;
    color: #333
}

.site-footer .list-service li a:hover .iconfont {
    color: #ff4a00
}

.site-footer .list-service li a .iconfont {
    font-size: 30px;
    color: #6d6d6d
}

.site-footer .list-service li a strong {
    display: block;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #000
}

.site-footer .col-links {
    float: left;
    _display: inline;
    width: 165px;
    margin: 0 0 0 30px;
    border-right: 1px solid #dfdfdf
}

.site-footer .col-links dt {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333
}

.site-footer .col-links dd {
    margin: 0 0 6px
}

.site-footer .col-links dd a {
    color: #6d6d6d
}

.site-footer .col-links dd a:hover {
    color: #ff4a00
}

.site-footer .col-links-first {
    margin-left: 0
}

.site-footer .col-contact {
    float: right;
    width: 270px;
    text-align: center
}

.site-footer .col-contact p {
    margin: 0 0 15px
}

.site-footer .col-contact p.phone {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 1;
    color: #000
}

.site-footer .info-text {
    margin-bottom: 20px
}

.site-footer .info-text a {
    color: #333
}

.site-footer .info-text a:hover {
    color: #ff4a00
}

.site-footer .info-text .logo-mini {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: #ff4a00;
    text-align: center
}

.site-footer .info-text .logo-mini i {
    font-size: 28px;
    color: #fff
}

.site-footer .info-text .sep {
    margin: 0 3px
}

.site-footer .info-text p {
    margin: 0;
    line-height: 20px
}

.site-footer .info-sites {
    position: absolute;
    left: 50%;
    top: 85px;
    margin-left: 100px;
    width: 200px;
    font-size: 12px;
    text-align: left;
    color: #8c8c8c
}

.site-footer .info-sites .global-site-current {
    width: 178px;
    height: 18px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    background: #fff
}

.site-footer .info-sites .arrow {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 1;
    width: 0;
    height: 0;
    _font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #dfdfdf #fff #fff
}

.site-footer .info-sites .global-site-list {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 198px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #dfdfdf;
    background: #fff
}

.site-footer .info-sites .global-site-list li a {
    display: block;
    height: 18px;
    padding: 10px
}

.site-footer .info-links {
    clear: both
}

.site-footer .info-links img {
    width: auto;
    height: 20px
}

.modal-weixin .modal-body {
    text-align: center
}

.modal-globalSites .modal-body {
    text-align: center
}

.modal-globalSites .modal-body h3 {
    color: #333;
    font-size: 32px;
    margin: 0
}

.modal-globalSites .modal-body .modal-globalSites-tips {
    margin: 0;
    font-size: 18px
}

.modal-globalSites .modal-body .modal-globalSites-links {
    width: 480px;
    margin: 30px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.modal-globalSites .modal-body .modal-globalSites-links a {
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #f3f3f3
}

.modal-globalSites .modal-body .modal-globalSites-links a:hover {
    background-color: #ff4a00;
    color: #fff
}

.site-mini-header {
    border-bottom: 2px solid #404144
}

.site-mini-header .span4 {
    padding-bottom: 2px;
    _padding-bottom: 17px;
    margin-bottom: -2px;
    border-bottom: 2px solid #ff4a00;
    position: relative
}

#loginBox {
    height: 450px
}

#loginBox .modal-body {
    padding: 10px
}

@media (max-width: 1260px) {
    .site-header .header-nav .nav-main-list .nav-main-item a .text {
        padding: 0 11px;
        font-size: 16px
    }

    .site-header .header-nav .nav-main-list .nav-main-children {
        width: 683px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list li {
        width: 340px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list .item-detail {
        padding: 50px 10px 30px 170px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list .item-detail .title {
        font-size: 20px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list .item-detail .thumb {
        position: absolute;
        top: 32px;
        left: 10px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list li.children-list-more {
        width: 226px
    }

    .site-header .header-nav .nav-main-list .nav-main-children .children-list li.children-list-more.first {
        width: 227px
    }

    .site-footer .list-service li a strong {
        font-size: 16px
    }

    .site-footer .col-links {
        width: 128px;
        margin: 0 0 0 20px
    }

    .site-footer .col-contact {
        width: 180px
    }
}

.xm-goods-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    _zoom: 1
}

.xm-goods-list li {
    position: relative;
    z-index: 1;
    float: left;
    _display: inline;
    width: 270px;
    height: 380px;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    _zoom: 1
}

.xm-goods-list li:hover, .xm-goods-list li.active {
    z-index: 2;
    overflow: visible
}

.xm-goods-list li:hover .xm-goods-item, .xm-goods-list li.active .xm-goods-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 374px;
    padding: 46px 16px 20px;
    border: 4px solid #f3f3f3
}

.xm-goods-list li:hover .item-flag, .xm-goods-list li.active .item-flag {
    top: -4px;
    left: 26px
}

.xm-goods-list .notice {
    clear: both;
    float: none;
    width: auto;
    padding: 10px;
    text-align: center
}

.xm-goods-list .notice .loading {
    display: block;
    width: 32px;
    height: 32px;
    margin: 20px auto;
    text-indent: -9999em;
    background: url(http://c1.mifile.cn/f/i/2014/cn/loading.gif) no-repeat 50% 50%;
    overflow: hidden;
    *zoom: 1
}

.xm-goods-item {
    position: relative;
    width: 270px;
    height: 330px;
    padding: 50px 0 0;
    color: #333;
    background: #fff;
    *zoom: 1
}

.xm-goods-item .item-thumb {
    height: 220px;
    padding: 0 0 30px;
    text-align: center
}

.xm-goods-item .item-thumb img {
    width: 220px;
    height: 220px;
    background: url(http://c1.mifile.cn/f/i/2014/cn/placeholder-220.png) no-repeat 50% 50%;
    background-image: -webkit-image-set(url(http://c1.mifile.cn/f/i/2014/cn/placeholder-220.png) 1x, url(http://c1.mifile.cn/f/i/2014/cn/placeholder-440.png) 2x)
}

.xm-goods-item .item-title {
    height: 21px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1
}

.xm-goods-item .item-title a {
    color: #333
}

.xm-goods-item .item-title a:hover {
    color: #ff4a00;
    text-decoration: none
}

.xm-goods-item .item-price {
    height: 21px;
    padding: 0 10px
}

.xm-goods-item .item-price .sep {
    margin: 0 10px;
    font-size: 12px;
    color: #f3f3f3
}

.xm-goods-item .item-price .item-event {
    font-size: 12px;
    color: #ff4a00
}

.xm-goods-item .item-price del {
    font-size: 12px;
    color: #8c8c8c
}

.xm-goods-item .item-star {
    _position: relative;
    height: 18px;
    padding: 0 10px 19px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 12px;
    color: #8c8c8c
}

.xm-goods-item .item-star .icon-stat {
    position: relative;
    top: 2px;
    *float: left;
    width: 85px;
    margin-right: 5px
}

.xm-goods-item .item-star .item-comments {
    *float: left
}

.xm-goods-item .item-actions {
    position: relative;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    overflow: hidden;
    _zoom: 1
}

.xm-goods-item .item-actions .btn {
    margin: 0 3px;
    vertical-align: middle
}

.xm-goods-item .item-actions .btn-yellow {
    color: #fff
}

.xm-goods-item .item-actions .iconfont {
    margin-right: 3px;
    font-size: 12px
}

.xm-goods-item .item-actions .item-action-state {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 254px;
    height: 30px;
    margin-left: -127px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #90ce36;
    cursor: pointer
}

.xm-goods-item .item-flag {
    position: absolute;
    top: 0;
    left: 10px;
    width: 110px;
    z-index: 1
}

.xm-goods-item .item-flag .icon-saleoff {
    float: left;
    width: 45px;
    height: 18px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #f0323f
}

.xm-filter-list {
    margin: 0;
    padding: 15px 0 5px;
    border-top: 1px solid #dfdfdf;
    font-size: 12px;
    color: #8c8c8c
}

.xm-filter-list dt {
    float: left;
    clear: both;
    margin: 0 0 10px;
    _margin: 2px 0 10px;
    text-align: left
}

.xm-filter-list dd {
    margin: 0;
    padding: 0;
    overflow: hidden;
    _zoom: 1
}

.xm-filter-list dd ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.xm-filter-list dd li {
    float: left;
    _display: inline;
    margin: 3px 0 13px;
    padding: 0 20px;
    border-left: 1px solid #dfdfdf;
    line-height: 1;
    *line-height: 1.25
}

.xm-filter-list dd li a {
    color: #333
}

.xm-filter-list dd li a:hover {
    color: #ff4a00
}

.xm-filter-list dd li.first {
    border-left: 0
}

.xm-filter-list dd li.current a {
    color: #ff4a00
}

.xm-filter-list dd li .icon-order-ascending, .xm-filter-list dd li .icon-order-descending {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    *font-size: 0;
    background-image: url(http://c1.mifile.cn/f/i/2014/cn/icon/icon-goods-list.png)
}

.xm-filter-list dd li .icon-order-ascending {
    background-position: 0 0
}

.xm-filter-list dd li .icon-order-descending {
    background-position: -12px 0
}

.xm-filter-list dd li.current .icon-order-ascending {
    background-position: 0 -12px
}

.xm-filter-list dd li.current .icon-order-descending {
    background-position: -12px -12px
}

.xm-filter-list-first {
    border-top: 0
}

.xm-select {
    position: relative
}

.xm-select .arrow-down {
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 9;
    width: 11px;
    height: 5px;
    _font-size: 0;
    background: url(http://c1.mifile.cn/f/i/2014/cn/icon/icon-arrow-down.png) no-repeat 0 0
}

.xm-select.toggled .arrow-down {
    background-position: 0 -5px
}

.xm-select .dropdown-text, .xm-select .dropdown-menu li a, .xm-select .dropdown-menu li span {
    display: block;
    width: 206px;
    height: 28px;
    padding: 5px 25px 5px 15px;
    font-size: 14px;
    line-height: 2;
    cursor: pointer
}

.xm-select .dropdown-text {
    border: 1px solid #dfdfdf;
    color: #6d6d6d;
    background: #fff
}

.xm-select .dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #c3c3c3;
    background: #fff
}

.xm-select .dropdown-menu li a, .xm-select .dropdown-menu li span {
    color: #8c8c8c
}

.xm-select .dropdown-menu li a:hover, .xm-select .dropdown-menu li span:hover {
    text-decoration: none;
    color: #6d6d6d;
    background-color: #f3f3f3
}

.xm-pagenavi {
    padding: 30px 0;
    text-align: center
}

.xm-pagenavi .numbers {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 18px;
    padding: 0 8px;
    margin: 0 1px;
    border: 1px solid transparent;
    _border: 1px solid #fff;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    color: #6d6d6d
}

.xm-pagenavi a.numbers:hover {
    text-decoration: none;
    border-color: #dfdfdf
}

.xm-pagenavi span.numbers {
    color: #6d6d6d
}

.xm-pagenavi span.current {
    color: #ff4a00
}

.xm-pagenavi .first {
    border-left-width: 1px;
    border-color: #dfdfdf
}

.xm-pagenavi .last {
    border-color: #dfdfdf
}

.xm-recommend {
    *position: relative;
    _width: 100%;
    overflow: hidden;
    _zoom: 1
}

.xm-recommend-page {
    width: 60px;
    margin: 20px 0 0
}

.xm-recommend-page .page-btn-prev, .xm-recommend-page .page-btn-next {
    float: left;
    width: 28px;
    border: 1px solid #dfdfdf;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #6d6d6d;
    background: #fff
}

.xm-recommend-page .page-btn-prev:hover, .xm-recommend-page .page-btn-next:hover {
    color: #333;
    background: #f3f3f3
}

.xm-recommend-page .page-btn-prev {
    border-right: 0
}

.xm-recommend-page .page-btn-prev-disabled, .xm-recommend-page .page-btn-next-disabled {
    color: #c3c3c3
}

.get-dm-loading {
    width: 100px;
    margin-left: -50px;
    margin-top: -31px;
    text-align: center
}

.xm-dm-queue {
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px
}

.xm-dm-queue .modal-body {
    text-align: center;
    padding-top: 30px
}

.xm-dm-queue h3 {
    margin: 15px 0;
    color: #333;
    font-size: 40px;
    line-height: 1
}

.xm-dm-queue .queue-tip {
    color: #666;
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0 0
}

.xm-dm-queue .queue-animate {
    width: 450px;
    margin: 0 auto;
    position: relative
}

.xm-dm-queue .animate-mask {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 0
}

.xm-dm-queue .animate-mask-left {
    left: 0;
    background-image: -webkit-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, #fff 20%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0))
}

.xm-dm-queue .animate-mask-right {
    right: 0;
    background-image: -webkit-linear-gradient(right, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, #fff 20%, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, #fff 20%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #fff 20%, rgba(255, 255, 255, 0))
}

.xm-dm-queue .mitu-walk {
    width: 450px;
    height: 200px;
    margin: 10px auto 0;
    background: url(http://p.www.xiaomi.com/open/131101/images/animate-mitu.png?4) repeat-x 0
}

.xm-dm-error {
    width: 900px;
    height: 500px;
    margin-left: -450px;
    margin-top: -250px
}

.xm-dm-error .modal-body {
    height: 360px;
    padding: 140px 50px 0 385px;
    background: url(http://p.www.xiaomi.com/open/131101/images/mitu-2.png) no-repeat 5px 0
}

.xm-dm-error h3 {
    color: #333;
    font-size: 32px;
    line-height: 1;
    padding: 0 0 20px;
    margin: 0
}

.xm-dm-error .error-tip {
    margin: 0;
    padding-bottom: 40px;
    line-height: 28px;
    font-size: 16px;
    color: #666
}

@media (max-width: 1260px) {
    .container {
        width: 930px
    }

    .row .col-16 {
        width: 682px
    }

    .row .col-15 {
        width: 620px
    }
}

.border_top_cart {
    border-top: 2px solid #e11927;
}
