ul, li, p, dl, dd, h1, h2, h3 {
    padding: 0;
    margin: 0
}

ul, li, ol {
    list-style: none
}

em {
    font-style: normal
}

.payment-con {
    margin-top: 20px
}

.payment-con .xm-plain-box .box-hd .title {
    float: left
}

.payment-con .xm-plain-box .box-hd .tip-tag {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 0 7px;
    margin: 17px 20px 0 20px;
    color: #ff4a00;
    font-size: 12px
}

.payment-con .xm-plain-box .box-bd {
    border-bottom: none
}

.payment-con .xm-plain-box .box-ft {
    background: #fafafa;
    padding: 20px 30px;
    margin-top: 20px;
    border-top: none
}

.payment-con .xm-plain-box .box-ft .btn, .payment-con .xm-plain-box .box-ft .tip {
    float: right;
    margin-left: 10px
}

.payment-con .xm-plain-box .box-ft .btn-lineDakeLight {
    border-color: #dfdfdf
}

.payment-con .xm-plain-box .box-ft .tip {
    line-height: 40px
}

.order-info {
    border: 1px solid #dfdfdf;
    padding: 25px 30px 25px 260px;
    margin-bottom: 15px;
    position: relative;
    zoom: 1
}

.order-info .msg {
    _height: 58px;
    margin-bottom: 20px
}

.order-info h3 {
    font-size: 24px;
    color: #000;
    font-weight: normal
}

.order-info p {
    line-height: 1.6;
    color: #6d6d6d
}

.order-info p .line {
    margin: 0 3px
}

.order-info p .pay-time-tip {
    margin: 0 2px;
    color: #ff4a00
}

.order-info .post-date {
    color: #333;
    font-size: 18px
}

.order-info .icon-box {
    width: 240px;
    height: 100%;
    _height: 194px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    zoom: 1
}

.order-info .icon-box .iconfont {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    font-size: 70px;
    border: 5px solid #83bd39;
    color: #83bd39;
    border-radius: 50%
}

.iconfont img {
    margin-top: 20px;
}

.payment-box {
    border-bottom: 1px solid #dfdfdf;
    position: relative
}

.payment-box dt {
    width: 200px;
    padding: 25px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    font-size: 12px;
    z-index: 10
}

.payment-box dt strong {
    font-size: 14px
}

.payment-box dt a:hover {
    text-decoration: underline
}

.payment-box dt p {
    color: #8c8c8c
}

.payment-box dd {
    width: 100%;
    position: relative;
    background: #fafafa;
    z-index: 5
}

.payment-box dd .select-other {
    position: absolute;
    top: 50%;
    left: 450px;
    margin-top: -15px
}

.payment-box dd .hd-tip {
    position: absolute;
    top: 35px;
    left: 400px
}

.payment-box dd .hd-tip .tip-tag {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    color: #fff;
    padding: 0 8px;
    margin: 0 5px;
    background-color: #ff4a00;
    font-size: 12px
}

.payment-list {
    margin-left: 240px;
    padding: 20px;
    background: #fff
}

.payment-list li {
    float: left;
    width: 167px;
    padding: 10px 0
}

.payment-list li label {
    cursor: pointer
}

.payment-list li input {
    vertical-align: middle
}

.payment-list li img {
    margin-left: 5px;
    width: 140px;
}

.alipay-qrcode {
    display: none;
    margin-left: 240px;
    padding: 30px 0 30px 40px;
    border-top: 1px solid #dfdfdf;
    position: relative;
    background-color: #eee
}

.alipay-qrcode:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    _font-size: 0;
    _line-height: 1;
    margin-left: 5px;
    margin-top: -2px;
    border-width: 0 9px 9px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #dfdfdf;
    position: absolute;
    top: -7px;
    left: 70px;
    z-index: 1
}

.alipay-qrcode:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    _font-size: 0;
    _line-height: 1;
    margin-left: 5px;
    margin-top: -2px;
    border-width: 0 8px 9px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #eee;
    position: absolute;
    top: -6px;
    left: 71px;
    z-index: 2
}

.alipay-qrcode .box {
    width: 600px;
    height: 360px;
    padding-top: 30px;
    background-color: #fff
}

.alipay-qrcode iframe {
    float: left
}

.alipay-qrcode .tip {
    float: left;
    height: 330px;
    width: 258px;
    padding-left: 40px;
    border-left: 1px solid #dfdfdf
}

.alipay-qrcode .tip .title {
    margin-top: 110px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #6d6d6d
}

.alipay-qrcode .tip .title span {
    color: #d6313a
}

.alipay-qrcode .tip .more {
    color: #666
}

.alipay-qrcode .tip .more a {
    color: #4e85fc
}

.pay-tip {
    background: url("http://s1.mi.com/zt/2013//payment-mitu.jpg") no-repeat 70px 20px
}

.pay-tip a {
    color: #ee330a
}

.pay-tip .fail, .pay-tip .success {
    float: right;
    width: 230px;
    padding: 15px
}

.pay-tip .fail h4, .pay-tip .success h4 {
    margin: 0;
    color: #6d6d6d
}

.pay-tip .fail p, .pay-tip .success p {
    padding-top: 10px;
    font-size: 12px
}

.pay-tip .fail p a:hover, .pay-tip .success p a:hover {
    text-decoration: underline
}

.pay-tip .success {
    clear: right
}

.payment-balance {
    height: 44px
}

.payment-balance .item2 {
    float: right;
    margin-top: 12px
}

.payment-balance .num {
    color: #ff4a00
}

.payment-balance .item1 {
    margin-top: 12px;
    cursor: pointer
}

.payment-balance .item1 .iconfont {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 1;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    color: #fff;
    vertical-align: 0
}

.payment-balance .selected .iconfont {
    color: #90ce36
}

.balance-pay h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333
}

.balance-pay h3 .num {
    color: #ff4a00
}

.balance-pay .input {
    width: 180px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #dfdfdf
}

.balance-pay .send-again {
    cursor: pointer
}

.balance-pay .btn {
    margin: 20px 0
}

.fenqi-detail {
    margin-left: 240px;
    padding: 20px;
    background: #fff;
    margin-top: -20px
}

.fenqi-detail li {
    float: left;
    width: 167px;
    padding: 10px 0
}

.fenqi-detail li label {
    cursor: pointer
}

.fenqi-detail li input {
    vertical-align: middle
}

.fenqi-detail li img {
    margin-left: 5px
}

.fenqi-detail .options .item {
    float: left;
    padding: 10px 20px;
    margin-right: 20px;
    color: #6d6d6d;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    cursor: pointer
}

.fenqi-detail .options .item span {
    display: block;
    font-size: 18px;
    color: #333
}

.fenqi-detail .options .item input {
    display: none
}

.fenqi-detail .options .selected {
    border-color: #ff4a00;
    background: #fff
}

.fenqi-detail .info {
    padding-top: 20px;
    line-height: 2;
    color: #333
}

.fenqi-detail .info span {
    color: #ff4a00
}

.fenqi-detail .info .tip {
    line-height: 1.5;
    padding-top: 20px;
    font-size: 12px;
    color: #8c8c8c
}

.pay-hd {
    margin-left: 240px;
    padding: 20px 20px 0;
    background: #fff
}

.pay-hd .info {
    color: #666
}

.pay-hd .info span {
    color: #ff4a00
}

.pay-hd .info a {
    font-size: 12px;
    margin-left: 10px;
    text-decoration: underline
}

.pay-hd .payment-list {
    margin: 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dfdfdf
}

.pay-hd .payment-list li {
    width: 30%
}

.pay-hd .payment-list li .icon {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    color: #fff;
    background-color: #90ce36;
    font-size: 12px;
    position: relative
}

.pay-hd .payment-list li .icon i {
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent #90ce36 transparent transparent;
    position: absolute;
    top: 6px;
    left: -5px;
    overflow: hidden
}

#alipayqrcodeFrame {
    background: url(http://c1.mifile.cn/f/i/2014/cn/loading.gif) no-repeat center center
}

.event-unionpay {
    display: none;
    position: absolute;
    top: 80px;
    left: 447px;
    font-size: 12px;
    color: #333
}

.event-unionpay a {
    margin-left: 5px;
    color: #3795fe
}

.xhw {
    background-color: #ffffff;
    clear: both;
    padding: 20px;
}

.whx_banner {
    padding-bottom: 20px;
}

.whx_banner .p1 {
    color: #666666;
    float: left;
}

.whx_banner .p2 {
    color: #999999;
    float: left;
}

.whx_banner input {
    float: left;
    margin-left: 10px;
    background-color: #f3f3f3;
    border: 1px solid #dfdfdf;
    color: #999999;
}

.whx_banner .a3 {
    color: #ff4646;
}